@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue.otf');
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #282E3D;
	font-family: BebasNeue;
}

.container {
	max-width: 900px;
}

section.bg {
	height: 500px;
	border:1px solid #e5e5e5;
	margin:0 auto;
	margin-top: 100px;
	padding:0px;

	background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  	background-size:50px 50px;
}

#tank {
	width: 400px;
	height: 270px;
	margin-top: 10px; 
	background-color: transparent;
	box-shadow: 0px 0px 10px #000;
	border:2px solid #006D89;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

#tank #content-level {
	width: 100%;
	background-color: #FFD727;
	height: 34%;
	position: absolute;
	bottom: 0px;
}

#system-info {
	background-color: rgba(0, 0, 0, 0.5);
	height: 280px; /* height of tank + top margin */
	color: #C2FCFE;
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0px 0px 1px #898888;
	text-transform: uppercase;
	overflow: hidden;
}

#system-info p {
	margin: 0px;
}

#system-info button {
	background-color: #323D48;
	border-radius: 0px 0px 0px 8px; 
	border: 0px;
	padding: 0px 10px;
	color: #C2FCFE;
	font-weight: 400;
	font-size: 28px;
}

#system-info #errors {
	background-color: rgba(32, 42, 60, 0.63);
	padding: 10px;
	border-radius: 1px;
	box-shadow: 0px 0px 5px #111;
}

#system-info li {
	width: 250px;
	margin: 15px 0px; 
}

#system-info li > span {
	padding: 0px 20px;
	font-size: 22px;
	width: 135px;
	display: inline-block;
}

#second-row {
	text-align: center;
	padding-top: 20px;
	display: table;
	width: 100%;
	min-height: 200px;
}

#second-row button {
	background-color: #6BA6D5;
	border-radius: 8px; 
	border: 0px;
	padding: 10px 50px;
	color: #C2FCFE;
	font-weight: 400;
	font-size: 42px;
	box-shadow: 0px 0px 8px #111;
	margin: 0 auto;
	text-shadow: 0px 0px 2px #111;
}

#second-row button.dim {
	background-color: #313B46; 
	box-shadow: 0px 0px 8px #272626;
	color: #7A7A7A;
}

.cups {
	background-color: #313B46;
	margin-top: 20px;
	padding: 10px;
	display: table;
	border-radius: 5px;
	display: none;
	height: 65px;
}

.cups:after {
	content: ".";
	display: table;
	clear: both;
}

.cups img {
	max-width: 40px;
	float: left;
	margin: 1px; 
	cursor: pointer;
}

#wait {
	font-size: 32px;
	color: #C2FCFE;
	text-shadow: 0px 0px 2px #111;
	margin-top: 20px; 
}

/* CSS Override */
.toggle-on.btn {
    padding-right: 45px;
}

.toggle-off.btn {
    padding-left: 45px;
}

.toggle-handle {
	width: 80px;
	background-color: #ADD4FF;
	box-shadow: 0px 0px 1px #1C9696;
	height: 93%;
	margin-top: 1px;
}

.toggle-on.btn, .toggle-off.btn {
    font-size: 18px;
    padding-top: 5px;
}